.age-group-container {
  display: flex;
  width: 36%;
  flex-direction: column;
}

.age-group-bar-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  min-height: 110px;
}

@media (max-width: 769px) {
  .age-group-container {
    width: 65%;
  }

  .age-group-container h4 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media (max-width: 477px) {
  .age-group-container {
    width: 100%;
  }
}
