.channel-stats-container {
  padding-right: 15px;
  padding-left: 15px;
}

.social-reach-age-groups-genders-container {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
