.details-button-container {
  padding-left: 15px;
  padding-right: 15px;
  height: 80px;
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
  color: #2a94e4;
  border: 0;
  border-bottom: 1px;
  border-style: solid;
  border-color: #d3d3d3;
}

.detailsButton:hover {
  cursor: pointer;
}

.detailsButton {
  display: 'inline-block';
  font-size: 18px;
}

.details-button-container svg {
  width: 16px;
  height: 11px;
}

.details-button-container path {
  fill: transparent;
  stroke: #2a94e4;
  stroke-width: 2px;
}
